[user]
	name = Kevin Sawicki
	email = kevinsawicki@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "status"]
	added = green bold
	changed  = cyan bold
	untracked = yellow bold
[color "branch"]
	current = cyan bold
	local = yellow
	remote = green
[alias]
	b = branch -avv
	ci = commit
	cia = commit --amend
	ciaa = commit --all --amend
	ciaan = commit --all --amend --no-edit
	cian = commit --amend --no-edit
	co = checkout
	contains = branch -avv --contains
	d = diff --word-diff=color
	di = diff --staged --word-diff=color
	discard = checkout HEAD --
	f = fetch --prune --all
	h = show HEAD --word-diff=color
	hf = show HEAD --name-only
	l = log --oneline --decorate
	laf = log --oneline --decorate --follow --all --
	lag = log --oneline --decorate --graph --all
	lc = log --oneline --decorate --graph --left-right
	lch = !git log --oneline --decorate --graph --left-right HEAD...$1
	lf = log --oneline --decorate --follow --
	lg = log --oneline --decorate --graph
	m = merge
	r = rebase
	s = status -sb
	su = submodule update
	supgrade = submodule foreach 'git f && git co FETCH_HEAD'
	unstage = reset HEAD --
	up = push origin
[push]
	default = tracking
[diff]
	renames = copies
[rerere]
	enabled = true
[blame]
	date = short
[status]
	submodulesummary = true
	relativePaths = false
	showUntrackedFiles = all
[notes]
	rewriteRef = refs/notes/*
[merge]
	defaultToUpstream = true
[advice]
	statusHints = false
	pushNonFastForward = false
	implicitIdentity = false
	detachedHead = false
