[user]
	name = Kevin Sawicki
	email = kevinsawicki@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "status"]
	added = green bold
	changed  = cyan bold
	untracked = yellow bold
[color "branch"]
	current = cyan bold
	local = yellow
	remote = green
[alias]
	s = status
	b = branch -avv
	h = show HEAD
	d = diff
	co = checkout
[push]
	default = tracking
[diff]
	renames = copies
[rerere]
	enabled = true
[advice]
	statusHints = false
	pushNonFastForward = false
